.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
    height: 100%;
}

.header {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 55px;
    letter-spacing: 5px;
}

.timer {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 30px;
    color: greenyellow;
    text-transform: uppercase;
}

