
@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    .header {
        font-size: 70px;
    }
 }


@media (min-width: 992px) { 
    .header {
        margin-bottom: 80px;
        font-size: 90px;
    }
      
 }

@media (min-width: 1200px) {  }