
@media (min-width: 576px) { 
    .reset-button {
        margin-left: 25px;
        padding: 10px 15px;
    }
}

@media (min-width: 768px) { 
    .header {
        font-size: 70px;
    }
    .alert-text {
        font-size: 100px;
    }
    .alert-button {
        font-size: 18px;  
    }
    .reset-button {
        margin-left: 25px;
        padding: 12px 18px;
        font-size: 18px;
    }
    
 }


@media (min-width: 992px) { 
    .header {
        margin-bottom: 80px;
        font-size: 90px;
    }

    
    
 }

@media (min-width: 1200px) {  }